* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Open Sans";
    src: url('../fonts/OpenSans-Regular.ttf');
}

body {
    font-family: 'Segoe UI', 'Open Sans', Tahoma, Verdana, sans-serif;
    font-size: 1rem;
    height: 100%;
    background-size: 800% 800%;
    color: white;

    background-image: linear-gradient(270deg, #242766, #077af4, #07aef4, #07edf4);
    -webkit-animation: BlueHues 30s ease infinite;
    -moz-animation: BlueHues 30s ease infinite;
    -o-animation: BlueHues 30s ease infinite;
    animation: BlueHues 30s ease infinite;
}

/* Animated Gradient Selectors */

@-webkit-keyframes BlueHues {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@-moz-keyframes BlueHues {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@-o-keyframes BlueHues {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@keyframes BlueHues {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* End Animated Gradient Selectors */

header {
    overflow: hidden;
}

footer {
    position: fixed;
    text-align: center;
    vertical-align: bottom;
    bottom: 25px;
    width: 100%;
}

#designedby {
    font-size: 0.75em;
}

#ft {
    color: white;
}

#ft:hover {
    color: red;
}

.nolink {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 25px;
    position: relative;
    top: 10px;
}

nav {
    margin-top: -6px;
    float: right;
    position: relative;
}

.nav {
    color: white;
    display: inline-block;
    margin-left: 20px;
    margin-right: 10px;
    text-transform: uppercase;
    text-decoration: none;
}

.nav a {
    display: inline-block;
    text-decoration: none;
}

.nav a:visited {
    color: white;
}

.nav a:hover {
    cursor: pointer;
    text-decoration: underline;
}

nav:last-child {
    margin-right: 10px;
}

#intro {
    text-align: center;
}

h1#intro {
    padding-bottom: 0px;
    font-size: 32px;
    font-weight: 500;
}

article {
    padding-top: 5px;
    text-align: center;
}

button.contact {
    margin-top: 50px;
    color: white;
    line-height: 2.5;
    border-radius: 10px;
    padding: 0 20px;
    transition-duration: 0.4s;
}

button.contact:hover, #rsume:hover, #lnkin:hover, #email:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}

#rsume {
    background-color: deeppink;
}


#lnkin {
    background-color: #0077B5;
}

#email {
    background-color: gold;
    color: black;
}

#gthub {
    background-color: darkslateblue;
}

.pgs-right {
    width: 50%;
    margin-right: 12%;
    text-align: center;
    float: right;
}

.pgs-header {
    width: 50%;
    margin-right: 12%;
    text-align: center;
    float: right; 
    font-weight: bold;
}

#headshot {
    border: 7px ridge gold;
    float: left; 
    margin-left: 14%; 
    margin-top: 7%;
}